alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
docutils==0.14
euclid3==0.1
idna==2.8
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
more-itertools==6.0.0
packaging==19.0
pkginfo==1.5.0.1
pluggy==0.9.0
py==1.8.0
Pygments==2.3.1
pyparsing==2.3.1
pytest==4.3.1
pytest-cov==2.6.1
pytz==2018.9
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-bootstrap-theme==0.6.5
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.1.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.1
webencodings==0.5.1
