include ladybug/config.json
include ladybug/WMM.COF
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude .github *
exclude .gitignore
exclude .dockerignore
exclude .releaserc.json
exclude deploy.sh
exclude Dockerfile
